<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Sipariş No</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" class="form-control"
            readonly />
        </div>
      </div>
      <div class="form-group">
        <label>Müşteri</label>
        <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formData.CustomerID" class="form-control" class="form-control"
        [class.is-invalid]="!isValid && service.formData.CustomerID==0">
          <option value="0">-Seçin-</option>
          <option *ngFor="let item of customerList" value="{{item.CustomerID}}">{{item.Name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Ödeme Şekli</label>
        <select name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod" class="form-control">
          <option value="">-Seçin-</option>
          <option value="Cash">Nakit</option>
          <option value="Card">Kart</option>
        </select>
      </div>
      <div class="form-group">
        <label>Toplam</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">₺</div>           
          </div>
          <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" class="form-control"
          readonly />
        </div>
      </div>
    </div>
  </div>
<!---sipariş elemanları için tablo-->
<!-- order items table-->
<table class="table table-borderless">
  <thead class="thead-light">
    <th>Sipariş Ürünü</th>
    <th>Fiyat</th>
    <th>Miktar</th>
    <th>Toplam</th>
    <th>
      <a type='button' class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.OrderID)"><i class="fa fa-plus"></i></a>
    </th>
  </thead>
  <tbody>
 <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
   <td class="font-italic text-center" colspan="5">
     Gösterilecek ürün bilgisi bulunamamıştır.
   </td>
 </tr>

    <tr *ngFor="let item of service.orderItems;let i=index;">
      <td>{{item.ItemName}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Quantity}}</td>
      <td>{{item.Total}}</td>
      <td>
          <button class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.OrderID)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemID,i)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="form-group">
    <button type="submit" class="btn btn-dark float-right">
      <i class="fa fa-database"></i> Gönder
    </button>
  </div>
</form>